Uvozi

In [4]:
import pandas as pd
%matplotlib inline

Razpredelnice

In [82]:
jud = pd.read_csv('judoke.csv', index_col='id')
med = pd.read_csv('medalje.csv', index_col='id')

# ker bomo delali z velikimi razpredelnicami, povemo, da naj se vedno izpiše le 16 vrstic in stolpcev
pd.options.display.max_rows = 15
pd.options.display.max_columns = 16

In [144]:
jud

                           ime drzava  tocke
id
385                RINER Teddy    FRA   3250
11651       HARASAWA Hisayoshi    JPN   2830
3278                 SASSON Or    ISR   1992
3393              NATEA Daniel    ROU   1930
3394                 MEYER Roy    NED   1862
14698             KHAMMO Iakiv    UKR   1820
245                  BOR Barna    HUN   1492
...                        ...    ...    ...
12230           TOPRAK Firdevs    TUR      1
10944         ALVAREZ Graciela    ARG      1
12148            BONILLA Luisa    COL      1
12732        WANGECHI Ceciliah    KEN      1
15252  ATUVAHA Marie genevieve    NCL      1
16237         BOGNINI Germaine    BUR      1
22587            VINITA Vinita    IND      1

[3400 rows x 3 columns]

In [145]:
med

       zlato  srebro  bron
id
6998       0       0     0
4525       0       0     0
13770      0       0     0
15969      0       0     0
9187       0       0     0
2317       0       1     0
1039       0       0     2
...      ...     ...   ...
26373      0       0     0
9361       0       0     0
2968       0       0     0
11708      0       0     0
7009       0       0     0
12564      0       0     0
1012       0       0     0

[509 rows x 3 columns]

In [146]:
skupaj = pd.concat([jud, med], axis=1, join_axes=[jud.index]).fillna(0)

In [147]:
skupaj

                           ime drzava  tocke  zlato  srebro  bron
id
385                RINER Teddy    FRA   3250    2.0     0.0   0.0
11651       HARASAWA Hisayoshi    JPN   2830    0.0     1.0   0.0
3278                 SASSON Or    ISR   1992    0.0     0.0   1.0
3393              NATEA Daniel    ROU   1930    0.0     0.0   0.0
3394                 MEYER Roy    NED   1862    0.0     0.0   0.0
14698             KHAMMO Iakiv    UKR   1820    0.0     0.0   0.0
245                  BOR Barna    HUN   1492    0.0     0.0   0.0
...                        ...    ...    ...    ...     ...   ...
12230           TOPRAK Firdevs    TUR      1    0.0     0.0   0.0
10944         ALVAREZ Graciela    ARG      1    0.0     0.0   0.0
12148            BONILLA Luisa    COL      1    0.0     0.0   0.0
12732        WANGECHI Ceciliah    KEN      1    0.0     0.0   0.0
15252  ATUVAHA Marie genevieve    NCL      1    0.0     0.0   0.0
16237         BOGNINI Germaine    BUR      1    0.0     0.0   0.0
22587            VINITA Vinita    IND      1    0.0     0.0   0.0

[3400 rows x 6 columns]

In [148]:
skupaj.groupby(['zlato']).sum()#krneki

        tocke  srebro  bron
zlato
0.0    721059    23.0  46.0
1.0     40451     1.0   2.0
2.0      7620     0.0   0.0

In [149]:
skupaj.sort_values('tocke', ascending = False)

                                   ime drzava  tocke  zlato  srebro  bron
id
54                      HARRISON Kayla    USA   4370    2.0     0.0   0.0
1336                    TRSTENJAK Tina    SLO   4050    1.0     0.0   0.0
1540                  DORJSUREN Sumiya    MGL   3550    0.0     1.0   0.0
385                        RINER Teddy    FRA   3250    2.0     0.0   0.0
11273                KELMENDI Majlinda    KOS   3200    1.0     0.0   0.0
9713                           AN Baul    KOR   3180    0.0     1.0   0.0
951                       ORTIZ Idalys    CUB   3146    1.0     1.0   0.0
...                                ...    ...    ...    ...     ...   ...
21811  MOSSILO NZELEKET Erika marielle    CGO      1    0.0     0.0   0.0
21713                    ELALMI Hadeel    JOR      1    0.0     0.0   0.0
17922                BIEDERMANN Judith    LIE      1    0.0     0.0   0.0
15850                      NARAS Loana    PYF      1    0.0     0.0   0.0
12139                   LUCUMI Tatiana    COL      1    0.0     0.0   0.0
7094                         SU Yu-jou    TPE      1    0.0     0.0   0.0
22587                    VINITA Vinita    IND      1    0.0     0.0   0.0

[3400 rows x 6 columns]

In [150]:
med.loc[385]

zlato     2
srebro    0
bron      0
Name: 385, dtype: int64

In [151]:
ZMed = med['zlato']
SMed = med['srebro']
BMed = med['bron']

In [152]:
sumM = ZMed + SMed + BMed
sumM

id
6998     0
4525     0
13770    0
15969    0
9187     0
2317     1
1039     2
        ..
26373    0
9361     0
2968     0
11708    0
7009     0
12564    0
1012     0
dtype: int64

In [153]:
skupaj['st_medalj'] = sumM

In [157]:
skupaj=skupaj.fillna(0)

In [163]:
sumM[sumM != 0]

id
2317     1
1039     2
738      2
9713     1
2313     1
15143    1
3470     1
        ..
1841     1
1274     1
326      1
2394     1
1335     1
2491     1
2114     1
dtype: int64

In [194]:
razmerje = (skupaj['tocke']/skupaj['st_medalj']).replace('inf', 0)
razmerje

id
385      1625.0
11651    2830.0
3278     1992.0
3393        0.0
3394        0.0
14698       0.0
245         0.0
          ...
12230       0.0
10944       0.0
12148       0.0
12732       0.0
15252       0.0
16237       0.0
22587       0.0
dtype: float64

In [188]:
skupaj2 = pd.concat([jud, razmerje], axis=1, join_axes=[jud.index]).fillna(0)

In [198]:
drzave = skupaj.groupby('drzava')

In [216]:
povprecje = drzave.mean().sort_values('tocke', ascending = False)
povprecje

              tocke     zlato    srebro      bron  st_medalj
drzava
GBS     1460.000000  0.000000  0.000000  0.000000   0.000000
KOS      720.750000  0.125000  0.000000  0.000000   0.125000
JPN      610.313043  0.034783  0.017391  0.078261   0.130435
NED      526.795455  0.000000  0.000000  0.045455   0.045455
MGL      468.698630  0.000000  0.027397  0.013699   0.041096
CUB      411.647059  0.029412  0.088235  0.000000   0.117647
BEL      411.291667  0.000000  0.000000  0.083333   0.083333
...             ...       ...       ...       ...        ...
ASA        2.000000  0.000000  0.000000  0.000000   0.000000
RWA        2.000000  0.000000  0.000000  0.000000   0.000000
PLW        1.000000  0.000000  0.000000  0.000000   0.000000
CAF        1.000000  0.000000  0.000000  0.000000   0.000000
BAN        1.000000  0.000000  0.000000  0.000000   0.000000
MAC        1.000000  0.000000  0.000000  0.000000   0.000000
ETH        1.000000  0.000000  0.000000  0.000000   0.000000

[164 rows x 5 columns]

In [219]:
povprecje.sort_values('st_medalj', ascending = False)

             tocke     zlato    srebro      bron  st_medalj
drzava
JPN     610.313043  0.034783  0.017391  0.078261   0.130435
KOS     720.750000  0.125000  0.000000  0.000000   0.125000
CUB     411.647059  0.029412  0.088235  0.000000   0.117647
COL     148.190476  0.000000  0.047619  0.047619   0.095238
GRE     285.272727  0.000000  0.000000  0.090909   0.090909
BRA     341.506173  0.024691  0.000000  0.061728   0.086420
BEL     411.291667  0.000000  0.000000  0.083333   0.083333
...            ...       ...       ...       ...        ...
TJK     102.909091  0.000000  0.000000  0.000000   0.000000
ZAM     103.500000  0.000000  0.000000  0.000000   0.000000
RSA     104.833333  0.000000  0.000000  0.000000   0.000000
LUX     107.000000  0.000000  0.000000  0.000000   0.000000
GAM     107.000000  0.000000  0.000000  0.000000   0.000000
IRI     109.789474  0.000000  0.000000  0.000000   0.000000
ETH       1.000000  0.000000  0.000000  0.000000   0.000000

[164 rows x 5 columns]