# Judo lestvica

Uvozi:

In [1]:
import pandas as pd

Vhodni podatki, preneseni, s Prenos_podatkov.ipynb ter Prenos_medalj.ipynb

In [3]:
jud = pd.read_csv('judoke.csv', index_col='id')
med = pd.read_csv('medalje.csv', index_col='id')

# ker bomo delali z velikimi razpredelnicami, povemo, da naj se vedno izpiše le 16 vrstic in stolpcev
pd.options.display.max_rows = 20
pd.options.display.max_columns = 16

In [4]:
skupaj = pd.concat([jud, med.astype(int)], axis=1, join_axes=[jud.index])
skupaj['st_medalj'] = med['zlato'] + med['srebro'] + med['bron']
skupaj = skupaj.fillna(0)

### Razpredelnica vseh trenutih registriranih tekmovalcev juda nad 22 let - članov

In [5]:
skupaj.sort_values(['zlato', 'srebro', 'bron'], ascending = False)

                           ime drzava  tocke  zlato  srebro  bron  st_medalj
id
385                RINER Teddy    FRA   3250    2.0     0.0   0.0        2.0
54              HARRISON Kayla    USA   4370    2.0     0.0   0.0        2.0
951               ORTIZ Idalys    CUB   3146    1.0     1.0   0.0        2.0
3726     SHAVDATUASHVILI Lasha    GEO   1701    1.0     0.0   1.0        2.0
79             MATSUMOTO Kaori    JPN   1570    1.0     0.0   1.0        2.0
613              KRPALEK Lukas    CZE   2420    1.0     0.0   0.0        1.0
363           KHAIBULAEV Tagir    RUS    754    1.0     0.0   0.0        1.0
1937           MUDRANOV Beslan    RUS   1724    1.0     0.0   0.0        1.0
3470              BASILE Fabio    ITA   1658    1.0     0.0   0.0        1.0
353             GALSTYAN Arsen    RUS    685    1.0     0.0   0.0        1.0
...                        ...    ...    ...    ...     ...   ...        ...
17280             BRENES Diana    CRC      2    0.0     0.0   0.0        0.0
27604            BAGHERI Zahra    IRI      2    0.0     0.0   0.0        0.0
1594        FURMANEK Katarzyna    POL      1    0.0     0.0   0.0        0.0
12230           TOPRAK Firdevs    TUR      1    0.0     0.0   0.0        0.0
10944         ALVAREZ Graciela    ARG      1    0.0     0.0   0.0        0.0
12148            BONILLA Luisa    COL      1    0.0     0.0   0.0        0.0
12732        WANGECHI Ceciliah    KEN      1    0.0     0.0   0.0        0.0
15252  ATUVAHA Marie genevieve    NCL      1    0.0     0.0   0.0        0.0
16237         BOGNINI Germaine    BUR      1    0.0     0.0   0.0        0.0
22587            VINITA Vinita    IND      1    0.0     0.0   0.0        0.0

[3400 rows x 7 columns]

### Razmerje med trenutnim številom tekmovalnih točk in številom osvojenih medalj

In [6]:
razmerje = (skupaj['tocke']/skupaj['st_medalj']).replace('inf', 0)
skupaj2 = pd.concat([skupaj, razmerje], axis=1, join_axes=[jud.index]).fillna(0).rename(columns = {0 : 'razmerje'})
skupaj2.sort_values('razmerje', ascending = False)

,ime,drzava,tocke,zlato,srebro,bron,st_medalj,razmerje
id,,,,,,,,
1336,TRSTENJAK Tina,SLO,4050,1.0,0.0,0.0,1.0,4050.0
1540,DORJSUREN Sumiya,MGL,3550,0.0,1.0,0.0,1.0,3550.0
11273,KELMENDI Majlinda,KOS,3200,1.0,0.0,0.0,1.0,3200.0
9713,AN Baul,KOR,3180,0.0,1.0,0.0,1.0,3180.0
15143,BAKER Mashu,JPN,3030,1.0,0.0,0.0,1.0,3030.0
3496,ORUJOV Rustam,AZE,2930,0.0,1.0,0.0,1.0,2930.0
2114,YU Song,CHN,2930,0.0,0.0,1.0,1.0,2930.0
11651,HARASAWA Hisayoshi,JPN,2830,0.0,1.0,0.0,1.0,2830.0
20,GASIMOV Elmar,AZE,2744,0.0,1.0,0.0,1.0,2744.0
568,PARETO Paula,ARG,2540,1.0,0.0,0.0,1.0,2540.0
...,...,...,...,...,...,...,...,...
16921,AN Changrim,KOR,2580,0.0,0.0,0.0,0.0,0.0
17805,HASHIMOTO Soichi,JPN,1581,0.0,0.0,0.0,0.0,0.0
3873,MUKI Sagi,ISR,1526,0.0,0.0,0.0,0.0,0.0
2206,AKIMOTO Hiroyuki,JPN,1500,0.0,0.0,0.0,0.0,0.0
2404,TATALASHVILI Nugzari,GEO,1456,0.0,0.0,0.0,0.0,0.0
4224,GANBAATAR Odbayar,MGL,1360,0.0,0.0,0.0,0.0,0.0
2150,MOGUSHKOV Musa,RUS,1218,0.0,0.0,0.0,0.0,0.0
271,DRAKSIC Rok,SLO,1142,0.0,0.0,0.0,0.0,0.0
1239,WANDTKE Igor,GER,1124,0.0,0.0,0.0,0.0,0.0
22587,VINITA Vinita,IND,1,0.0,0.0,0.0,0.0,0.0

### Razpredelnica točk in povprečnega razmerje med količino točk in pridobljenih olimpjiskih medalj na tekmovalca;
Prikazanih je prvih dvajset držav

In [7]:
drzave = skupaj2.groupby('drzava').sum()
drzave['razmerje'] = skupaj2.groupby('drzava').mean()['razmerje']
drzave['st_predstavnikov'] = skupaj2.groupby('drzava').count()['ime']
drzave.sort_values('tocke', ascending = False).astype(int).head(20)

        tocke  zlato  srebro  bron  st_medalj  razmerje  st_predstavnikov
drzava
JPN     70186      4       2     9         15       205               115
FRA     47931      3       2     6         11       113               132
RUS     46812      5       0     2          7        55               154
MGL     34215      0       2     1          3        73                73
KOR     32097      1       2     1          4        60               131
GER     28703      0       1     2          3        44                83
BRA     27662      2       0     5          7        88                81
NED     23179      0       0     2          2        69                44
AZE     18969      0       2     0          2        84                67
GEO     18609      1       1     1          3        44                71
CHN     17961      0       0     2          2        56                72
KAZ     17803      0       1     1          2        43                95
GBR     17337      0       1     1          2        43                67
ISR     16449      0       0     2          2        95                40
UZB     16364      0       0     3          3        36                66
USA     15449      2       2     1          5        90                65
HUN     14933      0       1     1          2        52                51
UKR     14711      0       0     0          0         0                68
CUB     13996      1       3     0          4        87                34
SLO     13599      1       0     1          2       173                34

#### Lestvica držav z največ točkami na tekmovalca

In [8]:
(drzave['tocke']/drzave['st_predstavnikov']).sort_values(ascending = False)

drzava
GBS    1460.000000
KOS     720.750000
JPN     610.313043
NED     526.795455
MGL     468.698630
CUB     411.647059
BEL     411.291667
ISR     411.225000
SLO     399.970588
SWE     395.550000
          ...
ASA       2.000000
LAO       2.000000
RWA       2.000000
MAW       2.000000
SUR       2.000000
ETH       1.000000
PLW       1.000000
CAF       1.000000
MAC       1.000000
BAN       1.000000
dtype: float64

#### Lestivca držav z največ medaljami na tekmovalca

In [9]:
(drzave['st_medalj']/drzave['st_predstavnikov']).sort_values(ascending = False)

drzava
JPN    0.130435
KOS    0.125000
CUB    0.117647
COL    0.095238
GRE    0.090909
BRA    0.086420
BEL    0.083333
FRA    0.083333
USA    0.076923
UAE    0.076923
         ...
NEP    0.000000
NCL    0.000000
NCA    0.000000
MYA    0.000000
MRI    0.000000
MOZ    0.000000
MON    0.000000
MNE    0.000000
MLT    0.000000
AFG    0.000000
dtype: float64